# VSCode
.vscode

# Logs
*.log
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variables file
.env
.env.local
.env.test

# Next.js build output
.next
out

# api dist
dist

# api ormconfig
ormconfig.json

# generated graphql type definitions
*.graphql.d.ts
