<div class="container">
  <div class="card">
    <div class="card-content">
      <span class="card-title center">
        Kirjaudu Sisään
      </span>
      <div class="pt center">
        <a href="/auth/microsoft/login" class="sign-in-with-microsoft">
          <img src="/img/microsoft.png" />
          <span>Sign In With Microsoft</span>
        </a>
      </div>
      <div class="pt center">
        <a href="/auth/discord/login" class="discord">
          <img src="/img/discord.png" />
        </a>
      </div>
    </div>
  </div>
</div>
